<head>
    <title>Panneaux Solaires</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="header">
        <nav>
            <a href=""><img src="{{url_for('static', filename='/images/logo.png')}}"/></a>
            <div class ="nav-links">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="">SOLUTION</a></li>
                    <li><a href="About.html">ABOUT US</a></li>
                    <li><a href="Contact.html">CONTACT</a></li>
                </ul>
            </div>
        </nav>