<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">

<head>
    <title>Panneaux Solaires</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section class="header">
        <nav>
            <a href=""><img src="{{url_for('static', filename='/images/logo.png')}}"/></a>
            <div class ="nav-links">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="">SOLUTION</a></li>
                    <li><a href="About.html">ABOUT US</a></li>
                    <li><a href="Contact.html">CONTACT</a></li>
                </ul>
            </div>
        </nav>
    <div class="container">
  <h1>Formulaire de contact</h1>
  <form action="/action_page.php">
    <label for="fname">Nom & prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Votre nom et prénom">

    <label for="sujet">Sujet</label>
    <input type="text" id="sujet" name="sujet" placeholder="L'objet de votre message">

    <label for="emailAddress">Email</label>
    <input id="emailAddress" type="email" name="email" placeholder="Votre email">


    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Votre message" style="height:200px"></textarea>

    <input type="submit" value="Envoyer">
  </form>
</div>