{% extends 'layouts/default.html' %}

{% block body %}
<!-- https://medium.com/@kevjose/building-dashboards-using-grid-and-flex-box-620adc1fff51 -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="grid-container">
    <header class="header">
        <div class="header_search">Search</div>
        <div class="header_avatar">Logout</div>
    </header>
    <aside class="aside">
        <ul>
            <li class="aside_list-item">Courbe puissance annuelle</li>
            <li class="aside_list-item">Courbe puissance hebdomadaire</li>
            <li class="aside_list-item">Courbe puissance journalière</li>
            <li class="aside_list-item">Monotone de puissance</li>
        </ul>
    </aside>
    <main class="main">
        <div class="main_overview">
            <div class="overview_card">
                <div class="overview_card-info">OK</div>
                <div class="overview_card-icon">Card</div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div> 
            <div class="overview_card">
                <div class="overview_card-info">Overview</div>
                <div class="overview_card-icon">Card</div>
            </div>
            <div class="overview_card">
                <div class="overview_card-info"></div>
            </div>
        </div>
        <div class="chart">
            <canvas id="conso_annuelle_chart"></canvas>
        </div>
        <div class="chart">
            <canvas id="monotone_puissance_chart"></canvas>
        </div>
        <div class="main_cards">
            <div class="card">Card</div>
        </div>
    </main>
    <footer class="footer">
        <div class="footer_copyright">&copy;</div>
        <div class="footer_byline">Made with &hearts;</div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_chart.js') }}"></script>

{% endblock %}