{% extends 'layouts/default.html' %}

{% block body %}
<!-- https://medium.com/@kevjose/building-dashboards-using-grid-and-flex-box-620adc1fff51 -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="grid-container">
    <header class="header"></header>
    <aside class="aside">
        <div class="title">Essential Solar</div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('dashboard') }}">Général</a></div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('details') }}">Détails</a></div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('maintenance') }}">Maintenance</a></div>
        <div class="separator"></div>
    </aside>

    <main class="main">
        {% set dieu = session["dieu"] %}
        {% set capacite_batterie = session["batterie"] %}
        
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Panneau : {{ dieu["panneau"]["reference"] }} </div>
                <div class="content">Coût unitaire  :    {{ dieu["panneau"]["prix"] }} € </div>
                <div class="content">Puissance      :    {{ dieu["panneau"]["gamme_puissance"] }} Wp </div>
                <div class="content">Technologie    :    {{ dieu["panneau"]["type"] }} </div>
                <div class="content">Efficacite     :    {{ dieu["panneau"]["efficacite"] }} </div>
                <div class="content">Surface        :    {{ dieu["panneau"]["surface"] }} m² </div>
                <div class="content">Poids          :    {{ dieu["panneau"]["poids"] }} kg</div>
                <div class="content">Origine        :    {{ dieu["panneau"]["region"] }}</div>
            </div>
            <div class="card">
                <div class="content"> {{ (dieu["nb_panneaux"] * dieu["panneau"]["prix"]) | round(1) }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Onduleur : </div>
                <div class="content">Coût unitaire  :    {{ 1800 }} € </div>
                <div class="content">Technologie    :    {{ "centralisé" }} </div>
            </div>
            <div class="card">
                <div class="content"> {{ 1800 }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Batterie :  </div>
                <div class="content">Coût unitaire      :    {{ 400 }} €/kWh </div>
                <div class="content">Capacité totale    :    {{ capacite_batterie / 1000 }} kWh </div>
            </div>
            <div class="card">
                <div class="content"> {{ capacite_batterie / 1000 * 400 }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="card">
                <div class="title">Coût total de l'installation</div>
                <div class="content"> {{ (dieu["nb_panneaux"]*dieu["panneau"]["prix"] + 1800 + (capacite_batterie / 1000 * 400)) | round(1) }} €</div>
            </div>
        </div>

        <div class="chart">
            <canvas id="conso_hiver" class="loadingChart"></canvas>
        </div>
        <div class="chart">
            <canvas id="conso_ete" class="loadingChart"></canvas>
        </div>

    </main>

    
    <footer class="footer">
        <div class="footer_copyright">all copyrights reserved&copy;</div>
        <div class="footer_byline">Essential Solar;</div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_chart.js') }}"></script>
<script>
    create_semaine_type(
        document.getElementById('conso_hiver'),
        "Consommation d'une semaine typique d'hiver",
        d3.csv("static/data/conso_semaine_hiver.csv")
    );
    create_semaine_type(
        document.getElementById('conso_ete'),
        "Consommation d'une semaine type d'éte",
        d3.csv("static/data/conso_semaine_ete.csv")
    );
</script>

{% endblock %}