{% extends 'layouts/default.html' %}

{% block body %}
<!-- https://medium.com/@kevjose/building-dashboards-using-grid-and-flex-box-620adc1fff51 -->

<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<script src="https://d3js.org/d3.v7.min.js"></script>

<div class="grid-container">
    <header class="header"></header>
    <aside class="aside">
        <div class="title">Essential Solar</div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('dashboard') }}">Général</a></div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('details') }}">Détails</a></div>
        <div class="separator"></div>
        <div class="link"><a href="#">ROI</a></div>
        <div class="separator"></div>
        <div class="link"><a href="{{ url_for('maintenance') }}">Maintenance</a></div>
        <div class="separator"></div>
    </aside>

    <main class="main">
        {% set dieu = session["dieu"] %}
        
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Panneau : {{ dieu["panneau"]["reference"] }} </div>
                <div class="content">Coût unitaire  :    {{ dieu["panneau"]["prix"] }} € </div>
                <div class="content">Puissance      :    {{ dieu["panneau"]["gamme_puissance"] }} Wp </div>
                <div class="content">Technologie    :    {{ dieu["panneau"]["type"] }} </div>
                <div class="content">Efficacite     :    {{ dieu["panneau"]["efficacite"] }} </div>
                <div class="content">Surface        :    {{ dieu["panneau"]["surface"] }} m² </div>
                <div class="content">Poids          :    {{ dieu["panneau"]["poids"] }} kg</div>
            </div>
            <div class="card">
                <div class="content"> {{ (dieu["nb_panneaux"] * dieu["panneau"]["prix"]) | round(1) }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Onduleur : Turbo Energy 48v 5.0K </div>
                <div class="content">Coût unitaire  :    {{ 10 }} € </div>
                <div class="content">Puissance      :    {{ 500 }} W </div>
                <div class="content">Technologie    :    {{ "eau" }} </div>
                <div class="content">Efficacite     :    {{ "faible" }} </div>
                <div class="content">Poids          :    {{ 100 }}kg </div>
            </div>
            <div class="card">
                <div class="content"> {{ 20 }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="bigCard">
                <div class="title"> Batterie : LUNA2000 5-E0 </div>
                <div class="content">Coût unitaire  :    {{ 80 }} € </div>
                <div class="content">Puissance      :    {{ 500 }} W </div>
                <div class="content">Technologie    :    {{ "sable" }} </div>
                <div class="content">Efficacite     :    {{ "énorme" }} </div>
                <div class="content">Poids          :    {{ 40 }}kg </div>
            </div>
            <div class="card">
                <div class="content"> {{ 960 }} €</div>
            </div>
        </div>
        <div class="bigCardBox">
            <div class="card">
                <div class="title">Coût total de l'installation</div>
                <div class="content"> {{ (dieu["nb_panneaux"] * dieu["panneau"]["prix"]+20+960) | round(1) }} €</div>
            </div>
        </div>

    </main>

    
    <footer class="footer">
        <div class="footer_copyright">all copyrights reserved&copy;</div>
        <div class="footer_byline">Essential Solar;</div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard_chart.js') }}"></script>
<script>

</script>

{% endblock %}