.body{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        'aside header'
        'aside main'
        'aside footer';
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: whitesmoke;
}

.aside {
    grid-area: aside;
    background-color: darkblue;
}

.main {
    grid-area: main;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: whitesmoke;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkblue;
    padding: 0 15px;
}

.aside {
    display: flex;
    flex-direction: column;
}

.aside_list {
    padding:0;
    margin-top: 85px;
    list-style-type: none;
}

.aside_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.aside_list-item:hover {
    background-color: royalblue;
    cursor: pointer;
}

.main_overview {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid lightgreen;
}

.overview_card {
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 100px;
    max-height:1500px;
    border: 1px solid darkblue;
    border-radius: 4px;
    color: darkblue;
}

.main_cards {
    margin:10px;
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 200px 300px;
    grid-template-areas:
        'card1 card1'
        'card1 card1';
    grid-gap: 10px;
}

.card {
    padding: 20px;
    border: 1px solid tomato;
    border-radius: 4%;
    color:tomato;
}

.card:first-child{
    grid-area: card1;
}
.card:nth-child(2){
    grid-area: card2;
}
.card:nth-child(3) {
    grid-area: card3;
}

.chart {
    width: auto;
}