.body{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
}

.grid-container {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        'aside header'
        'aside main'
        'aside footer';
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: whitesmoke;
}

.aside {
    grid-area: aside;
    background-color: darkblue;
}

.main {
    grid-area: main;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: whitesmoke;
}

.header, .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: darkblue;
    padding: 0 15px;
}

.aside {
    display: flex;
    flex-direction: column;
}

.aside_list {
    padding:0;
    margin-top: 85px;
    list-style-type: none;
}

.aside_list-item {
    padding: 20px 20px 20px 40px;
    color: #ddd;
}

.aside_list-item:hover {
    background-color: royalblue;
    cursor: pointer;
}

.cardbox {
    display: flex;
    align-items:center;
    justify-content:center;
}

.card {
    box-shadow: 2px 2px 10px #DADADA;
    margin: 10px;
    padding: 20px 10px;
    background-color: #fff;
    width : 17%;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-content: center;
    min-height: 150px;
}

.card .title {
    text-align:center;
    color: gray;
    font-weight: 600;
    font-size: 1.5em;
}
.card .content {
    text-align:center;
    font-weight: 800;
    font-size: 2.75em;
    line-height: 64px;
}

.card:hover {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.card:hover .title {
    color:white;
}
.card:hover .content {
    color:white;
}


.chart {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
}

.loadingChart {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}