*{
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
}

.header{
    min-height:100vh;
    width:100%;
    background-image:
    linear-gradient(to bottom, rgba(4,9,30,0.7), rgba(4,9,30,0.7)),
    url('https://cdn.futura-sciences.com/buildsv6/images/largeoriginal/0/d/e/0de94b4d75_50195199_maison-toit-pannaux-solaires.jpg');
    background-position :center;
    background-size :cover;
    position :relative;
}

nav{
    display: flex;
    padding : 2% 3%;
    justify-content: space-between;
}

nav img{
    width: 150px;
}

.nav-links{
    flex :1;
    text-align: right;
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration:none ;
    font-size:16px;

}

.nav-links ul li::after{
    content:'';
    width:0%;
    height: 2px;
    background: #e7ca22;
    display: block;
    margin:auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width:100%;
}

.text-box{
    width: 90%;
    color :#fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.text-box p {
    margin : 10px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color :#fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 17px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #e7ca22;
    background: #e7ca22;
    transition : 1s;
}

.course{
    width: 80%;
    margin :auto;
    text-align :center;
    padding-top: 100px;
}

h1{
    font-size: 38px;
    font-weight: 600;
}
p{
    color :#777;
    font-size : 14px; 
    font-weight : 300;
    line-height:22px ;
    padding: 10px
}

.row{
    margin-top : 5% ;
    display : flex ;
    justify-content: space-between;
}

.course-col{
    flex-basis: 31%;
    background: #dff2ff ;
    border-radius : 10px ; 
    margin-bottom: 5%;
    padding : 20px 12px;
box-sizing : border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}


.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.cta{
    margin: 100px;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),url(images/banner2.jpg));
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align : center ;
    padding : 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom:  40px;
    padding : 0;
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin : 20px;
    font-weight: 600;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}